{
  "presets": [
    [
      "env", 
      {
        "targets": {
          "node": "current"
        }
      }, 
    ],
    "stage-3" 
  ],
  "plugins": [
    [ "module-resolver", {
        "root": [ "./" ],
        "alias": {
          "/": "./",
          "models": "./models",
          "constants": "./lib/constants",
          "errors": "./functions/errors"
        }
      },
    ],
  ],
}